body { font-family: "Roboto", sans-serif; }
.jumbotron {
  background-color: #3e2723;
  color: white;
}
div.jumbotron>p { color: white; }
a {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: black;
}
h1,
p,
h3 {
  text-align: center;
  color: black;
}
p { font-weight: 300; }
nav { background-color: white; }
.modal-body {
  transform: translate(0,40%);
  text-align: center;
}
button { text-align: center; }
div.container>h1 {
  font-size: 56px;
  text-align: center;
  color: white;
}
h2 {
  text-align: center;
  color: white;
}
div.parallax>img {
  height: 900px;
  width: 1200px;
}
img { padding: 10px; }
.icon {
  height: 100px;
  width: 100px;
}
a.brand-logo,
.button-collapse { color: black; }
li>.nav {
  padding-right: 10px;
  padding-left: 10px;
  font-size: 14px;
  text-align: center;
  color: black;
}
a:hover { text-decoration: none; }
.right>li>a {
  text-align: center;
  color: black;
}
div.coffeePics {
  text-align: center;
}
div.coffeePics > li {
  padding: 10px;
  display: inline-block;
}
div.coffeePics > li > a > img {
  height: 250px;
  width: 250px;
}
li>a>img {
  height: 50px;
  width: 50px;
}
.parallax-container {
  text-align: center;
  height: 350px;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
}
div.parallax { width: 100%; }
.col-md-4 {
  padding: 10px;
  text-align: center;
}
footer {
  padding: 20px;
  text-align: center;
  background-color: #efefef;
}
input[type=text],
input[type=email],
input[type=password] {
  text-align: center;
  font-size: 14px;
}
label { font-size: 16px; }
.submitbtn {
  height: 50px;
  width: 100px;
  border-radius: 10px;
  color: white;
  background-color: #337AB7;
}
.social { display: inline-flex; }
