body { font-family: "Roboto", sans-serif; }
.jumbotron {
  background-color: #3e2723;
  color: white;
}
div.jumbotron>p { color: white; }
a {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: black;
}
h1,
p,
h3 {
  text-align: center;
  color: black;
}
nav { background-color: white; }
div.modal-body {
  transform: translate(0,40%);
  text-align: center;
}
button { text-align: center; }
div.container>h1 {
  font-size: 64px;
  text-align: center;
  color: white;
}
div.container>h2 {
  text-align: center;
  color: white;
}
div.parallax>img {
  height: 900px;
  width: 1200px;
}
img { padding: 10px; }
img.icon {
  height: 100px;
  width: 100px;
}
a.brand-logo { color: black; }
.button-collapse { color: black; }
a.nav {
  padding-right: 10px;
  padding-left: 10px;
  font-size: 14px;
  text-align: center;
  color: black;
}
ul.right>li>a {
  text-align: center;
  color: black;
}
li>a>img {
  height: 50px;
  width: 50px;
}
.parallax-container {
  text-align: center;
  height: 300px;
  background-color: rgba(0,0,0,0.5);
}
footer {
  padding: 20px;
  text-align: center;
  background-color: #efefef;
}
input[type=text],
input[type=email],
input[type=password] {
  text-align: center;
  font-size: 14px;
}
label {
  font-size: 16px;
}
.submitbtn {
  height: 50px;
  width: 100px;
  border-radius: 10px;
  color: white;
  background-color: #1BBC9B;
}
ul.social {
  display: inline-flex;
}
/* default.css ABOVE */
/* menu.html specific css BELOW */
div.blends,
div.drinks { padding: 20px; }
.blendName,
.drinkName {
  color: black;
}
.blendDesc,
.drinkDesc {
  color: #919191;
}
.col-md-4,
.col-md-3 {
  padding: 20px;
  text-align: center;
}
.col-md-3:hover,
div.drink:hover {
  opacity: 0.4;
}
a:hover {
  text-decoration: none;
}