/* default CSS BEGIN */
body {
  font-family: "Roboto", sans-serif;
}
.jumbotron {
  background-color: #3e2723;
  color: white;
}
div.jumbotron>p {
  color: white;
}
a {
  color: black;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
h1,
p,
h3 {
  text-align: center;
  color: black;
}
nav {
  background-color: white;
}
button {
  text-align: center;
}
div.container>h1 {
  font-size: 64px;
  text-align: center;
  color: white;
}
div.container>h2 {
  text-align: center;
  color: white;
}
div.parallax>img {
  height: 900px;
  width: 1200px;
}
img {
  padding: 10px;
}
img.icon {
  height: 100px;
  width: 100px;
}
a.brand-logo {
  color: black;
}
.button-collapse {
  color: black;
}
a.nav {
  padding-right: 10px;
  padding-left: 10px;
  font-size: 14px;
  text-align: center;
  color: black;
}
ul.right>li>a {
  text-align: center;
  color: black;
}
li>a>img {
  height: 50px;
  width: 50px;
}
.parallax-container {
  text-align: center;
  height: 300px;
  width: 100%;
  background-color: rgba(0,0,0,0.2);
}
div.parallax {
  width: 100%;
}
.col-md-4 {
  padding: 10px;
  text-align: center;
}
footer {
  padding: 20px;
  background-color: #efefef;
  text-align: center;
}
a:hover {
  text-decoration: none;
}
input[type=text],
input[type=email],
input[type=password],
input[type=number] {
  text-align: center;
  font-size: 14px;
}
label {
  padding-top: 20px;
  display: block;
  font-size: 16px;
}
.submitbtn {
  height: 50px;
  width: 100px;
  border-radius: 10px;
  color: white;
  background-color: #337AB7;
}
ul.social {
  display: inline-flex;
}
/* default CSS END */
/* order CSS BEGIN */
label,
.col-md-2>p>label {
  color: black;
  font-size: 12px;
}
.col-lg-6,
.col-md-6,
.col-sm-6,
.col-xs-6 {
  text-align: center;
}
h4 {
  text-align: center;
}
form {
  text-align: center;
}
select.form-control {
  width: 150px;
  display: inline;
}
@media (max-width: 375px) {
  select.form-control {
    width: 100px;
    text-align: center;
  }
}
/* order CSS END */