body {
  font-family: "Roboto", sans-serif;
}
.jumbotron {
  background-color: #3e2723;
  color: white;
}
div.jumbotron>p {
  color: white;
}
a {
  color: black;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
h1,
p,
h3 {
  text-align: center;
  color: black;
}
nav {
  background-color: white;
}
button {
  text-align: center;
}
div.container>h1 {
  font-size: 64px;
  text-align: center;
  color: white;
}
div.container>h2 {
  text-align: center;
  color: white;
}
div.parallax>img {
  height: 900px;
  width: 1200px;
}
img {
  padding: 10px;
}
img.icon {
  height: 100px;
  width: 100px;
}
a.brand-logo {
  color: black;
}
.button-collapse {
  color: black;
}
a.nav {
  font-size: 14px;
  text-align: center;
  color: black;
}
ul.right>li>a {
  text-align: center;
  color: black;
}
li>a>img {
  height: 50px;
  width: 50px;
}
.parallax-container {
  text-align: center;
  height: 300px;
  width: 100%;
}
div.parallax {
  width: 100%;
}
.col-md-4 {
  padding: 10px;
  text-align: center;
}
footer {
  padding: 20px;
  background-color: #efefef;
  text-align: center;
}
a:hover {
  text-decoration: none;
}
/* koffee2.html specific css ABOVE */
/* order.html specific css BELOW */
label,
.col-md-2>p>label {
  color: black;
  font-size: 12px;
}
.col-md-2 {
  text-align: center;
  margin: 20px;
}
h4 {
  text-align: center;
}